{% extends "email.html" %}
{% load tags %}
{% block content %}
    <tr>
        <td style="padding: 30px 30px 30px 30px;">
            <h1 style="color: #222222; font-weight: bold; font-size: 24px; margin: 0; padding: 0 0 20px 0; text-align: left; line-height: 1.15;">Смена пароля</h1>
            <p style="color: #474747; font-weight: normal; font-size: 14px; margin: 0; padding: 0 0 0 0; text-align: left; line-height: 1.5;">Внимание, пользователю {{ user.firstname }} {{ user.lastname }} [{{ user.email }}] был изменен пароль для входя на сайт</p>
        </td>
    </tr>
{% endblock %}
