<form action="{% url 'user_save' %}" method="post" id="form-useredit" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-2">
        Имя
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="fname" name="fname" placeholder="Имя" value="{{ request.user.firstname }}"
               data-validation="length" data-validation-length="2-50"
               data-validation-error-msg="Введите свое имя"
        />
    </div>
    <div class="col-md-2">
        Фамилия
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" id="sname" name="lname" placeholder="Фамилия" value="{{ request.user.lastname }}"
               data-validation="length" data-validation-length="2-50"
               data-validation-error-msg="Введите свою фамилию"
        />
    </div>
    <div class="col-md-2">
        Аватар
    </div>
    <div class="col-md-10">
        <input type="file" class="form-control" id="avatar" name="avatar" placeholder="Аватар" value=""
               data-validation="size" data-validation-allowing="jpg, png, gif"
               data-validation-max-size="2M"
               data-validation-error-msg="Выберите графический файл, размером не более 2Мб"
        />
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <input type="submit" class="form-control btn btn-primary" value="сохранить" />
        </div>
        <div class="col-md-6">
            <input type="button" class="form-control  btn btn-info" value="отменить"
                   onclick="$('#profile-edit').hide();$('#profile-info').show();"
            />
        </div>
    </div>
</form>
<script>
    $('#profile-edit').hide();
</script>
