<form action="/u/register/" method="post" id="form-register">
    {% csrf_token %}
    <div class="col-md-12">
        <input type="text" class="form-control" id="fname" name="fname" placeholder="Имя"
               data-validation="length" data-validation-length="2-50"
               data-validation-error-msg="Введите свое имя"
        />
    </div>
    <div class="col-md-12">
        <input type="text" class="form-control" id="sname" name="lname" placeholder="Фамилия"
               data-validation="length" data-validation-length="2-50"
               data-validation-error-msg="Введите свою фамилию"
        />
    </div>
    <div class="col-md-12">
        <input type="text" class="form-control" id="email" name="email" placeholder="Эл. почта"
               data-validation="email"
               data-validation-error-msg="Введите верный электронный адрес"
        />
    </div>
    <div class="col-md-12">
        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль"
               data-validation="strength" data-validation-strength="1"
               data-validation-error-msg="Пароль не должен быть простым"
        />
    </div>
    <div class="col-md-12">
        <input type="checkbox" id="agree" name="agree" class="css-checkbox lrg"
               data-validation="required"
               data-validation-error-msg="Нужно прочесть и согласиться с условиями обслуживания"
        />
        <label for="agree" class="css-label lrg web-two-style">Принимаю условия обслуживания</label>
    </div>
    <div class="col-md-12"><input type="submit" class="form-control btn btn-primary" value="зарегистрироваться"></div>
</form>
