{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load widgets %}

{% block content %}
    {% if not request.user.is_checked %}
        <div class="col-md-12 form-top"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12 text-center">Ваш аккаунт не активирован, введите ключ, полученный по электронной почте.</div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-12">{% include 'user/form_activate.html' %}</div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12 form-bottom"></div>
    {% else %}
        <div class="col-md-12">
            <div class="col-md-2">
                {% if request.user.avatar %}<img src="{{ request.user.avatar.url }}?s=150">{% else %}<img src="{% static 'img/icon-user-150.png' %}">{% endif %}
            </div>
            <div class="col-md-10" id="profile-info">
                <div class="profile-name">{{ request.user.name }}</div>
                <div class="profile-email">{{ request.user.email }}</div>
                <div class="profile-date">Зарегистрирован {{ request.user.register_date|date_from_now|safe }}, последний вход {{ request.user.last_login|date_from_now|safe }}</div>
                <div class="profile-btn"><button class="btn btn-primary" onclick="$('#profile-edit').show();$('#profile-info').hide();">изменить</button></div>
            </div>
            <div class="col-md-10" id="profile-edit">
                <div class="col-md-6">
                    {% include 'user/form_useredit.html' %}
                </div>
                <div class="col-md-6">
                    {% include 'user/form_changepassword.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-12 profile-data">
            <div class="col-md-4">
                    {% widget_crew_list %}
                <div class="profile-data-actions"><a href="{% url 'crew_edit' %}" class="btn btn-success btn-sm">добавить</a> <a href="{% url 'crew_edit' %}" class="btn btn-success btn-sm">создать новую</a></div>
            </div>
            <div class="col-md-8">
                <div class="profile-data-title">Активные заявки</div>
                <div class="profile-data-text">нет активных заявок</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
