{% if not request.user.is_anonymous %}
    <span class="widget">
        <span class="col-md-11">
            <a href="{% url 'user_profile' %}">{% if request.user.firstname or request.user.lastname %}{{ request.user.firstname }} {{ request.user.lastname }}{% else %}{{ request.user.email }}{% endif %}</a><br>
            <a href="{% url 'user_logout' %}">выйти</a>
        </span>
        <span class="col-md-1">
            {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}?s=32" />
            {% endif %}
        </span>
    </span>
{% endif %}