<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Help Crew</title>
</head>
<body style="background:#fcfcfc; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;color:#474747;padding:2%;">
<table style="width: 100%; max-width: 600px; border: 1px solid #dbdbdb; border-radius: 5px; box-shadow: 2px 2px 3px rgba(0,0,0,0.05); background: #fff; padding: 0px; margin: 0 auto 0px auto;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="padding: 30px; border-bottom: 1px solid #dbdbdb;"><a style="text-decoration: none;" title="HelpCrew" href="https://helpcrew.ru"><img style="width: auto; max-width: 100%; margin: 0 auto; font-weight: bold; color: #222; font-size: 38px; text-decoration: none;" src="http://127.0.0.1:8000/static/img/logo.png" alt="HelpCrew" /></a></td>
    </tr>
    {% block content %}
    {% endblock %}
    </tbody>
</table>
<table style="width: 100%; max-width: 600px; text-align: left; margin: 20px auto 0 auto; font-size: 10px; color: #777777; line-height: 1.3;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="width: 100%; text-align: left; padding-bottom: 10px;">Вы получили это письмо, поскольку вы зарегистрировались на HelpCrew.ru. Не отвечайте на это сообщение, данный адрес не проверяется.</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; padding-bottom: 10px;">&copy; Help Crew 2016-{% now "Y" %}</td>
    </tr>
    </tbody>
</table>
</body>
</html>