<script>
    function loadTableView() {
        $.getJSON( "{% url 'api_table_list' %}{{ crew.slug }}/", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-view-table-list");
                    var html = tmpl.render(data);
                    $('#view-table-list').html(html);
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function loadTableRowsView(table) {
        $.getJSON( "{% url 'api_record_list' %}" + table + "/", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-table-record-list");
                    var html = tmpl.render(data);
                    $('#table-record-list' + table).html(html);
                    $('.table').footable();
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function openTableFormView(table, index) {
        $.getJSON( "{% url 'api_index_data' %}" + table + "/" + index + "/", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-view-table-form");
                    var html = tmpl.render(data);
                    $('#hidden-view-table-form' + table).html(html);
                    $('#form-view-record' + table + ' input[name="index"]').val(index);
                    $.fancybox.open({
                        src: '#hidden-view-table-form' + table,
                        type: 'inline',
                        opts: {modal: true}
                    });
                    $.validate({
                        form : '#form-view-record' + table
                    });
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function saveRecord(table) {
        if (!$('#form-view-record').isValid()) { $.notify('Проверьте правильность ввода', 'warn'); return false; }
        if (table == '') table = '0';
        $.ajax({
            type: 'POST',
            url: $('#form-view-record' + table).attr('action') + table + '/',
            data: $('#form-view-record' + table).serialize()
        })
            .done(function(data){
                if(data=='ok') {
                    $.fancybox.close();
                    $.notify('Сохранено', 'success');
                    loadTableRowsView(table);
                    loadEventsList(table);
                }
                else {
                    $.notify(data, 'warn');
                }
            })
            .fail(function(){
                $.notify('Ошибка передачи данных', 'error');
            });
    }

    function importRecord(table) {
        if (!$('#form-import-csv-' + table).isValid()) { $.notify('Проверьте правильность ввода', 'warn'); return false; }
        $('#import-btn-' + table).attr("disabled", "disabled");
        if (table == '') table = '0';
        $.ajax({
            type: 'POST',
            url: $('#form-import-csv-' + table).attr('action') + table + '/',
            data: new FormData($('#form-import-csv-' + table)[0]), //$('#form-import-csv-' + table).serialize()
            processData: false,
            contentType: false
        })
            .done(function(data){
                if(data=='ok') {
                    $.fancybox.close();
                    $.notify('Сохранено', 'success');
                    loadTableRowsView(table);
                    loadEventsList(table);
                }
                else {
                    $.notify(data, 'warn');
                }
                $('#import-btn-' + table).removeAttr("disabled");
            })
            .fail(function(){
                $('#import-btn-' + table).removeAttr("disabled");
                $.notify('Ошибка передачи данных', 'error');
            });
    }

    function deleteRecord(table, index) {
        $.ajax({
            type: 'GET',
            url: '{% url 'api_record_delete' %}' + table + '/' + index + '/'
        })
            .done(function(data){
                if (data=='ok') {
                    $.notify('Сохранено', 'success');
                    loadTableRowsView(table);
                    loadEventsList(table);
                } else {
                    $.notify(data, 'warn');
                }
            })
            .fail(function(){
                $.notify('Ошибка передачи данных');
            });
    }

    function importFromCSV(table) {
        $.fancybox.open({
            src: '#hidden-view-table-import' + table,
            type: 'inline',
            opts: {modal: true}
        });
        $.validate({
            form : '#form-import-csv-' + table
        });
        $('#import-csv-' + table).filestyle({
            input: true,
            btnClass: "btn-primary",
            text: "выбрать csv"
        });
    }
</script>