<script>
    function loadTableView() {
        $.getJSON( "{% url 'api_table_list' %}{{ crew.slug }}/", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-view-table-list");
                    var html = tmpl.render(data);
                    $('#view-table-list').html(html);
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function loadTableRowsView(table) {
        
    }
</script>