<script id="tmpl-table-field-list" type="text/x-jsrender">
        <table class="data-table">
            <thead><tr>
                <td width="50%">Наименование</td>
                <td width="25%">Тип</td>
                <td width="15%">Порядок</td>
                <td width="5%">&nbsp;</td>
            </tr></thead>
            <%for data%>
            <tr>
                <td width="50%">
                    <%if fields.deleted%><strike><%/if%><%:fields.name onerror='_field_'%><%if fields.deleted%></strike><%/if%>
                </td>
                <td width="25%">
                    <%if fields%>
                    <%if fields.type==1%>число<%/if%>
                    <%if fields.type==2%>строка<%/if%>
                    <%if fields.type==3%>дата<%/if%>
                    <%if fields.type==4%>ip адрес<%/if%>
                    <%if fields.type==5%>пароль<%/if%>
                    <%/if%>
                </td>
                <td width="15%">
                    <%:fields.order onerror=''%>
                </td>
                <td width="5%">
                    <div class="btn-group" role="group">
                        <button onclick="editField(<%:pk%>);return false;" class="btn btn-default btn-xs" title="Редактировать"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button href="#" onclick="deleteField(<%:pk%>); return false;" class="btn btn-default btn-xs" title="<%if fields.deleted%>Восстановить<%else%>Удалить<%/if%>"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            <%/for%>
        </table>
    <div class="col-md-12">
        <input type="hidden" name="table-id" id="table-id" value="<%:table onerror='-1'%>">
        <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="добавить" onclick="editField('0');return false;" /></div>
        <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
    </div>
</script>