<script id="tmpl-view-table-list" type="text/x-jsrender">
    <ul class="nav nav-tabs" role="tablist">
    <%for data%>
        <%if fields.deleted%>
        <%else%>
        <li role="presentation">
            <a href="#<%:fields.uuid%>" aria-controls="<%:fields.uuid%>" role="tab" data-toggle="tab" onclick="loadTableRowsView('<%:pk%>');">
                <%:fields.name onerror='_table_'%>
            </a>
        </li>
        <%/if%>
    <%/for%>
        <li>
            <a href="#" onclick="loadTableView(); return false;">
                Обновить
            </a>
        </li>
    </ul>
    <div class="tab-content">
    <%for data%>
        <div class="float-form" style="display: none;" id="hidden-view-table-form<%:pk%>"></div>
        <div role="tabpanel" class="tab-pane" id="<%:fields.uuid%>">
            <input type="button" value="добавить запись" class="btn btn-primary" onclick="openTableFormView('<%:pk%>');" />
            <div id="table-record-list<%:pk%>"></div>
        </div>
    <%else%>
        Нет данных
    <%/for%>
    </div>
</script>