<script id="tmpl-table-record-list" type="text/x-jsrender">
    <table class="table table-striped table-hover font08">
        <thead class="bold">
            <tr>
                <td></td>
                <%for header%>
                <td><%:value%></td>
                <%/for%>
            </tr>
        </thead>
        <tbody>
        <%for data%>
            <tr onclick="alert('1');">
                <td><%:row%></td>
                <%for records%>
                <td><%:value%></td>
                <%/for%>
            </tr>
        <%/for%>
        </tbody>
    </table>
</script>