<script id="tmpl-view-table-form" type="text/x-jsrender">
<div class="col-md-12 text-right"><a href="#" data-fancybox-close class="btn-close"><i class="fa fa-window-close" aria-hidden="true"></i></a></div>
    <form action="{% url 'api_record_save' %}" method="post" id="form-view-record<%:table onerror='0'%>" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="table" value="<%:table onerror='0'%>" />
        <input type="hidden" name="index" value="0" />
        <%for fields%>
        <%if !fields.deleted%>
        <div class="col-md-12">
            <div class="col-md-12 form-label">
                <%:fields.name onerror=''%>
            </div>
            <div class="col-md-12">
            <%if fields.type==5%>
            <div class="form-group">
                <div class="input-group">
            <%/if%>
            <%if fields.type==3%>
            <div class="form-group">
                <div class="input-group date"  id="datetimepicker-<%:pk onerror=''%>">
            <%/if%>
                <input type="text" class="form-control" id="field-<%:pk onerror=''%>" name="field-<%:pk onerror=''%>" value=""
            <%if fields.type==1%>
                    data-validation="custom" data-validation-regexp="^([\+\-]?\d*\.?\d+(?:[Ee][\+\-]?\d+)?)?$"
                    data-validation-error-msg="Введите число"
                />
            <%/if%>
            <%if fields.type==2%>
                />
            <%/if%>
            <%if fields.type==3%>
                    data-validation="date" data-validation-format="yyyy/mm/dd"
                    data-validation-error-msg="Введите дату в формате гггг/мм/дд"
                />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
                <%:"<"%>script>
                try {
                    $('#datetimepicker-<%:pk onerror=''%>').datetimepicker({
                        format: 'YYYY/MM/DD',
                        keepOpen: false
                    });
                } catch(e) { }
                <%:"<"%>/script>
            <%/if%>
            <%if fields.type==4%>
                    data-validation="custom" data-validation-regexp="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))?)?$"
                    data-validation-error-msg="Введите ip адрес"
                />
            <%/if%>
            <%if fields.type==5%>
                />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                            onclick="$('#field-<%:pk onerror=''%>').val(generatePassword(6));"
                            title="Сгенерировать пароль длинной 6 символов"
                        >
                            6
                        </button>
                        <button type="button" class="btn btn-default"
                            onclick="$('#field-<%:pk onerror=''%>').val(generatePassword(12));"
                            title="Сгенерировать пароль длинной 12 символов"
                        >
                            12
                        </button>
                        <button type="button" class="btn btn-default"
                            onclick="$('#field-<%:pk onerror=''%>').val(generatePassword(18));"
                            title="Сгенерировать пароль длинной 18 символов"
                        >
                            18
                        </button>
                        <button type="button" class="btn btn-default"
                            onclick="$('#field-<%:pk onerror=''%>').val(generatePassword(24));"
                            title="Сгенерировать пароль длинной 24 символа"
                        >
                            24
                        </button>
                    </span>
                </div>
            </div>
            <%/if%>
            </div>
        </div>
        <%/if%>
        <%/for%>
        <%:"<"%>script>
        try {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD',
                keepOpen: false
            });
        <%for records%>
        $('#field-<%:fields.field%>').val('<%>fields.value%>');
        <%/for%>
        } catch(e) {
            alert('Ошибка заполнения полей');
        }
        <%:"<"%>/script>
        <div class="col-md-12">
            <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="сохранить" onclick="saveRecord('<%:table onerror='0'%>');return false;" /></div>
            <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
        </div>
    </form>
</script>