<script id="tmpl-crew-table-list" type="text/x-jsrender">
    <%for data%>
        <div class="crew-table-list">
            <%if fields.deleted%><strike><%/if%><%:fields.name%><%if fields.deleted%></strike><%/if%>
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog color-dg" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#" onclick="editTable('<%:pk%>'); return false;">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="loadRows('<%:pk%>'); return false;">
                            <i class="fa fa-table" aria-hidden="true"></i> Поля
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" onclick="deleteTable('<%:pk%>'); return false;"><%if fields.deleted%><i class="fa fa-plus" aria-hidden="true"></i> Восстановить<%else%><i class="fa fa-times" aria-hidden="true"></i> Удалить<%/if%></a>
                    </li>
                </ul>
            </div>
        </div>
    <%else%>
        Нет данных
    <%/for%>
</script>