<script id="tmpl-view-table-form" type="text/x-jsrender">
    <form action="{% url 'api_service_price_edit' %}" method="post" id="form-view-table<%:table onerror='0'%>" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="table" value="<%:table onerror='0'%>" />
        <%for data%>

        <div class="col-md-12">
            <div class="col-md-12 form-label">
                <%:fields.name onerror=''%>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" id="field-<%:pk onerror=''%>" name="field-<%:pk onerror=''%>"  value=""
                    <%if fields.type==1%>data-validation="number" data-validation-error-msg="Введите число"<%/if%>
                    <%if fields.type==2%><%/if%>
                    <%if fields.type==3%>data-validation="date" data-validation-format="yyyy/mm/dd"  data-validation-error-msg="Введите дату в формате гггг/мм/дд"<%/if%>
                    <%if fields.type==4%>data-validation="custom" data-validation-regexp="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))?$" data-validation-error-msg="Введите ip адрес"<%/if%>
                    <%if fields.type==5%><%/if%>
                />
            </div>
        </div>
        <%/for%>
        <div class="col-md-12">
            <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="сохранить" onclick="('<%:pk onerror='0'%>');return false;" /></div>
            <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
        </div>
    </form>
</script>