/* helpcrew.ru */

/* colors
#FFC811 - желтый
#3AA4A4 - голубой
#EA7128 - оранжевый
#B3B31C - зеленый
#45737E - синий
 */

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.3em;
    /*background-image: url("/static/img/grid.png");*/
}

html, body{
    margin:0;
    padding:0;
    height:100%;
}
.body {
    min-height:100%;
    position:relative;
}
.fl-left{
    float: left;
}

.fl-right{
    float: right;
}

.fl-clear{
    clear: both;
}

.item-right {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #45737E;
}

a:visited {
    text-decoration: none;
}

a:not(:hover) {
    transition: 1s;
    color: #000000;
}

a.active {
    text-decoration: none;
    color: #45737E;
}

a.activeBlue {
    text-decoration: none;
    color: #006ED2;
}

/* input active */
input, textarea
{
    outline:none;
    border-color: transparent;
}

input:active, textarea:active
{
    outline:none;
}

input:focus, textarea:focus {
    outline:none;
}

button {
    text-transform: uppercase;
}

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.color-y { color: #FFC811; }
.color-lb { color: #3AA4A4; }
.color-o { color: #EA7128; }
.color-g { color: #B3B31C; }
.color-b { color: #45737E; }
.color-gr { color: #555555; }
.color-dg { color: #333333; }
.color-bl { color: #000000; }

.bg-y { background-color: #FFC811; }
.bg-lb { background-color: #3AA4A4; }
.bg-o { background-color: #EA7128; }
.bg-g { background-color: #B3B31C; }
.bg-b { background-color: #45737E; }
.bg-gr { background-color: #555555; }
.bg-dg { background-color: #333333; }
.bg-bl { background-color: #000000; }

.font08 { font-size: 0.8em; }
.font07 { font-size: 0.7em; }
.font06 { font-size: 0.6em; }

.padding-top-10 { padding-top: 10px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-top-20 { padding-top: 20px !important; }

.nobold { font-weight: normal; }
.bold { font-weight: bold; }

.nav-tabs { font-size: 0.8em; }
.tab-pane { padding-top: 10px; }
.navbar-brand { padding: 6px 15px;  }
.navbar-brand .btn-default { color: #333; background-color: transparent; border-color: transparent; }
.navbar-brand button span { font-size: 1.4em; }
.navbar-brand button { padding-left: .5em !important; padding-right: 1em !important;}
.input-group-btn button { padding-left: .5em !important; padding-right: .5em !important;}
.input-group-btn button { padding-left: .5em !important; padding-right: .5em !important;}
.data-table .btn-group button { padding-left: .5em !important; padding-right: .5em !important;}
table .btn-group button { padding-left: .5em !important; padding-right: .5em !important;}
.btn-group { white-space: nowrap; font-size: 0;}
.btn-group .btn { float: none; display: inline-block; }
.strike { text-decoration: line-through; }

.panel-heading { padding: 5px 10px; font-weight: bold;}
.panel-heading .label { font-weight: normal;}
.panel-body { padding: 10px;}
.panel { margin-bottom: 7px; }

.scroll100 { overflow-y: scroll; max-height:100px; min-height: 50px; }
.scroll150 { overflow-y: scroll; max-height:150px; min-height: 50px; }
.scroll200 { overflow-y: scroll; max-height:200px; min-height: 50px; }
.scroll300 { overflow-y: scroll; max-height:300px; min-height: 50px; }
.scroll400 { overflow-y: scroll; max-height:400px; min-height: 50px; }

pre.text {
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0;
}

/* header */
/**********************************************************************************************************************/

.head-row {
    font-size: 1.5em;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "RobotoMedium", sans-serif;
    text-transform: uppercase;
}

.head-row .col-md-1, .head-row .col-md-2, .head-row .col-md-3,
.head-row .col-md-4, .head-row .col-md-5, .head-row .col-md-6,
.head-row .col-md-7, .head-row .col-md-8, .head-row .col-md-9,
.head-row .col-md-10, .head-row .col-md-11, .head-row .col-md-12
{
    padding-left: 3px;
    padding-right: 3px;
}

.head-row .container {
}

.head-row nav {
}

.head-row nav div {
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.head-row .widget {
    font-size: .6em;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-logo img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.head-menu {
    text-align: right;
}

.head-menu-line{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}

.head-menu-line li{
    display: inline-block;
    letter-spacing: 1px;
    padding-left: 1.1em;
}

.head-menu-line li a{
    opacity: 0.8;
}

.head-menu-line li a:hover{
    color: #45737E;
    opacity: 1;
}


.head-menu-link{
    border: none;
    background-color: transparent;
    opacity: 0.7;
    padding-top: 0.2em;
}

.head-menu-link:hover{
    opacity: 1;
}
/**********************************************************************************************************************/

/* menu */
/**********************************************************************************************************************/
.right-menu {

}

.right-menu section {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.right-menu section h2 {
    margin: 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 1.8em;
    padding-bottom: 0.3em;
    text-transform: uppercase;
}

.right-menu section ul {
    list-style: none;
    padding-left: 1em;
    font-family: RobotoRegular, sans-serif;
    font-size: 1.2em;
    line-height: 1.7em;
}

.right-menu section ul.tag li {
    padding: 0.1em;
    line-height: 2em;
}
.right-menu section ul.tag li {
    display: inline;
}

.right-menu section ul.tag li a span{
    position: relative;
    top: -5px;
    font-size: .6em;
    vertical-align: top;
    padding-left: 2px;
    color: #AAAAAA;
}
/**********************************************************************************************************************/


/* content */
/**********************************************************************************************************************/
.content {
    font-size: 1.5em;
    line-height: 1.6em;
    padding-bottom:80px;
}

.content .col-md-1, .content .col-md-2, .content .col-md-3,
.content .col-md-4, .content .col-md-5, .content .col-md-6,
.content .col-md-7, .content .col-md-8, .content .col-md-9,
.content .col-md-10, .content .col-md-11, .content .col-md-12
{
    padding: 3px;
}

.profile-name {
    font-size: 1.6em;
    line-height: 1.7em;
    padding-top: 0px;
}

.profile-email {
    font-size: 1em;
}

.profile-date {
    font-size: 0.6em;
}

.profile-data {
    padding-top: 20px;
}

.profile-data-text {
    font-size: 0.6em;
}

.profile-data-title {
    font-size: 1.4em;
}

.profile-data-actions {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-list {
    list-style: none;
    padding-left: 5px;
    font-size: .8em;
}

.crew-title {
    padding-bottom: 15px !important;
}

.crew-title .crew-title-btn {
    margin-top: -7px;
}

.crew-title .dropdown-toggle {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.crew-edit .dropdown-toggle {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.crew-menu-title {
    font-size: .9em;
    padding-bottom: 5px;
}

.crew-user-list {
    list-style: none;
    padding-left: 5px;
    font-size: .7em;
}

.crew-edit .crew-user-list {
    padding-left: 10px;
}

.crew-service-list {
    list-style: none;
    padding-left: 5px;
    font-size: .7em;
}

/**********************************************************************************************************************/

/* form */
/**********************************************************************************************************************/
.float-form .col-md-1, .float-form .col-md-2, .float-form .col-md-3,
.float-form .col-md-4, .float-form .col-md-5, .float-form .col-md-6,
.float-form .col-md-7, .float-form .col-md-8, .float-form .col-md-9,
.float-form .col-md-10, .float-form .col-md-11, .float-form .col-md-12
{
    padding: 3px;
}

.dropdown-menu li a {
    padding: 3px 10px;
}

form input[type=text], form input[type=password]
{
}

.btn {
    text-transform: uppercase;
}

a.btn {
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}

a.btn-default {
    color: #333333;
}

a.btn-link {
    color: #45737E;
}

.form-error
{
    font-size: .6em;
    line-height: .7em;
}

.form-top
{
    height: 100px;
}

.form-bottom
{
    height: 100px;
}

.form-label {
    font-size: .6em;
    line-height: .7;
    padding-top: 7px;
    padding-bottom: 2px;
}

.form-comment
{
    font-size: .6em;
}

.float-form {
    max-width: 800px;
    min-width: 600px;
    border-radius: 4px;
    transform: translateY(-50px);
    transition: all .33s;
    font-size: 1.5em;
}
.float-form-w{
    max-width: 1100px;
    min-width: 900px;
}
.float-form .col-md-12 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.data-table {
    width: 100%;
    font-size: .8em;
}

.data-table thead {
    background: #DEDEDE;
    font-size: .8em;
    font-weight: bold;
}

.data-table td {
    padding: 3px;
    text-align: center;
}

.data-table td.data-table-actions {
    text-wrap: none;
}

.data-table td.text-left {
    text-align: left;
}

.data-table td.text-right {
    text-align: right;
}

.data-table td.info {
    color: #AAAAAA;
    font-size: .7em;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 8px;
    line-height: .7em;
    border-bottom: 1px solid #EEEEEE;
}

/**********************************************************************************************************************/


/* footer */
/**********************************************************************************************************************/
.footer{
    text-align: center;
    font-family: "RobotoMedium", sans-serif;
    font-size: 0.8em;
    border-top: 1px solid #DDDDDD;
    padding: 2em 0em 2em 0em;
    margin-top: 4em;

    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.footer .admin-link {
    text-align: right;
}

.footer .admin-link a{
    color: transparent;
}

.footer .admin-link a:hover{
    color: #CCCCCC;
}
/**********************************************************************************************************************/
.btn-success {
    color: #FFFFFF;
    background-color: #ADAD09;
    border-color: #99990C;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #FFFFFF;
    background-color: #858503;
    border-color: #99990C;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #ADAD09;
    border-color: #99990C;
}

.btn-success .badge {
    color: #ADAD09;
    background-color: #FFFFFF;
}

/*********************************************************************/

.btn-primary {
    color: #FFFFFF;
    background-color: #45737E;
    border-color: #133B45;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #3D5A61;
    border-color: #133B45;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #45737E;
    border-color: #133B45;
}

.btn-primary .badge {
    color: #45737E;
    background-color: #FFFFFF;
}

/*********************************************************************/

.btn-info {
    color: #FFFFFF;
    background-color: #3AA4A4;
    border-color: #117070;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #FFFFFF;
    background-color: #3E7D7D;
    border-color: #117070;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #3AA4A4;
    border-color: #117070;
}

.btn-info .badge {
    color: #3AA4A4;
    background-color: #FFFFFF;
}

/*********************************************************************/

.btn-danger {
    color: #FFFFFF;
    background-color: #EA7128;
    border-color: #AB4302;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #FFFFFF;
    background-color: #C26B34;
    border-color: #AB4302;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #EA7128;
    border-color: #AB4302;
}

.btn-danger .badge {
    color: #EA7128;
    background-color: #FFFFFF;
}

/*********************************************************************/

.btn-warning {
    color: #FFFFFF;
    background-color: #FFC811;
    border-color: #A37E03;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #FFFFFF;
    background-color: #DBB229;
    border-color: #A37E03;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #FFC811;
    border-color: #A37E03;
}

.btn-warning .badge {
    color: #FFC811;
    background-color: #FFFFFF;
}
/*********************************************************************/