{% extends 'base.html' %}
{% load tags %}
{% block content %}
        {% if not crew %}
        <div class="form-top col-md-12"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Новая команда</h2>
            {% include 'helpdesk/form_new_crew.html' %}
        </div>
        <div class="col-md-2"></div>
        <div class="form-bottom col-md-12"></div>
        {% else %}
            {% chk_member_admin crew as is_admin  %}
            {% chk_member_dispatcher crew as is_dispatcher  %}
            <div class="col-md-12">
                <h2>Команда &laquo{{ crew.name }}&raquo;</h2>
            </div>
            {% if is_admin %}
            <div class="col-md-6">
                <h2>Свойства команды</h2>
                {% include 'helpdesk/form_edit_crew.html' %}
            </div>
            <div class="col-md-6">
                <h2>Услуги</h2>
                {% for service in crew.crewservice_set.all %}
                    <div class="crew-service-list">
                        {{ service.name }}
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog color-dg" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a data-fancybox data-options='{"src": "#hidden-form-serviceedit", "modal": true}' href="javascript:;">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-rub" aria-hidden="true"></i> Прайс
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-times" aria-hidden="true"></i> Удалить
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <a data-fancybox data-options='{"src": "#hidden-form-serviceedit", "modal": true}' href="javascript:;" class="form-control btn btn-primary">Добавить услугу</a>

                <div class="float-form" style="display: none;" id="hidden-form-serviceedit">
                    {% include 'helpdesk/form_edit_service.html' %}
                </div>


            </div>
            <div class="col-md-6 crew-edit">
                <h2>Члены команды</h2>
                {% for cu in crew.crewusers_set.all %}
                <div class="crew-user-list">
                    {% ifequal cu.type 0 %}<i class="fa fa-user color-b" aria-hidden="true" title="Администратор"></i> {% endifequal %}
                    {% ifequal cu.type 1 %}<i class="fa fa-user color-o" aria-hidden="true" title="Диспетчер"></i> {% endifequal %}
                    {% ifequal cu.type 2 %}<i class="fa fa-user color-y" aria-hidden="true" title="Оператор"></i> {% endifequal %}
                    {{ cu.user.name }}
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog color-dg" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'crew_edit_user_edit' crew.url cu.user.email 'a' %}">
                                {% ifequal cu.type 0 %}
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                {% endifequal %}
                                Администратор</a></li>
                            <li><a href="{% url 'crew_edit_user_edit' crew.url cu.user.email 'd' %}">
                                {% ifequal cu.type 1 %}
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                {% endifequal %}
                                Диспетчер</a></li>
                            <li><a href="{% url 'crew_edit_user_edit' crew.url cu.user.email 'o' %}">
                                {% ifequal cu.type 2 %}
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                {% endifequal %}
                                Оператор</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> Удалить</a></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-12">
                    <input type="submit" class="form-control btn btn-primary" value="пригласить нового участника" />
                </div>
            </div>
            {% endif %}
            <div class="col-md-6">
                <h2>Персональные настройки</h2>
                <form action="{% url 'crew_edit' %}" method="post" id="form-crewedit" enctype="multipart/form-data">
                </form>
            </div>
        {% endif %}
{% endblock %}