{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12 crew-title">
        <span>Команда &laquo{{ crew.name }}&raquo;</span>
        <a href="{% url 'crew_edit' crew.url %}" aria-haspopup="true" title="Настройка команды"><i class="fa fa-cog color-b" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-12">
        <div class="crew-menu-title">
            Заявки
            <div class="btn-group" role="group" aria-label="...">
                <a href="#" class="btn btn-xs btn-success">новая заявка</a>
                <a href="#" class="btn btn-xs btn-danger">новый инцидент</a>
                <a href="#" class="btn btn-xs btn-info">новая задача</a>
            </div>
        </div>
        <div></div>
    </div>
{% endblock %}