{% extends 'base.html' %}
{% load tags %}
{% block content %}
        {% if not crew %}
        <div class="form-top col-md-12"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Новая команда</h2>
            {% include 'helpdesk/form_new_crew.html' %}
        </div>
        <div class="col-md-2"></div>
        <div class="form-bottom col-md-12"></div>
        {% else %}
            {% chk_member_admin crew as is_admin  %}
            {% chk_member_dispatcher crew as is_dispatcher  %}
            <div class="col-md-12">
                <h2>Команда &laquo{{ crew.name }}&raquo;</h2>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_personal" aria-controls="tab_personal" role="tab" data-toggle="tab">Персональные настройки</a></li>
                <li role="presentation"><a href="#tab_crew" aria-controls="tab_crew" role="tab" data-toggle="tab">Свойства команды</a></li>
                <li role="presentation"><a href="#tab_service" aria-controls="tab_service" role="tab" data-toggle="tab">Услуги</a></li>
                <li role="presentation"><a href="#tab_users" aria-controls="tab_users" role="tab" data-toggle="tab">Члены команды</a></li>
            </ul>
            <div class="tab-content">
                {% if is_admin %}
                <div role="tabpanel" class="tab-pane" id="tab_crew">
                    <div class="col-md-6">
                        {% include 'helpdesk/form_edit_crew.html' %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab_service">
                    <div id="crew-service-list"></div>
                    <div class="float-form" style="display: none;" id="hidden-service-price-list"></div>
                    <div class="float-form" style="display: none;" id="hidden-crew-service-edit"></div>
                    <div class="float-form" style="display: none;" id="hidden-service-price-edit"></div>
                    <div class="col-md-6">
                        <a href="#" class="form-control btn btn-primary" onclick="editService('0'); return false;">Добавить услугу</a>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="tab_users">
                    {% for cu in crew.crewusers_set.all %}
                    <div class="crew-user-list">
                        {% ifequal cu.type 0 %}<i class="fa fa-user color-b" aria-hidden="true" title="Администратор"></i> {% endifequal %}
                        {% ifequal cu.type 1 %}<i class="fa fa-user color-o" aria-hidden="true" title="Диспетчер"></i> {% endifequal %}
                        {% ifequal cu.type 2 %}<i class="fa fa-user color-y" aria-hidden="true" title="Оператор"></i> {% endifequal %}
                        {{ cu.user.name }}
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog color-dg" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{% url 'crew_edit_user_edit' crew.url cu.user.email 'a' %}">
                                    {% ifequal cu.type 0 %}
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    {% endifequal %}
                                    Администратор</a></li>
                                <li><a href="{% url 'crew_edit_user_edit' crew.url cu.user.email 'd' %}">
                                    {% ifequal cu.type 1 %}
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    {% endifequal %}
                                    Диспетчер</a></li>
                                <li><a href="{% url 'crew_edit_user_edit' crew.url cu.user.email 'o' %}">
                                    {% ifequal cu.type 2 %}
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    {% endifequal %}
                                    Оператор</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> Удалить</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-6">
                        <input type="submit" class="form-control btn btn-primary" value="пригласить нового участника" />
                    </div>
                </div>
                {% endif %}
                <div role="tabpanel" class="tab-pane active" id="tab_personal">
                    <form action="{% url 'crew_edit' %}" method="post" id="form-crewedit" enctype="multipart/form-data">
                    </form>
                </div>
            </div>
        {% endif %}


        {% if is_admin %}
                <script id="tmpl-crew-service-list" type="text/x-jsrender">
                <%for data%>
                    <div class="crew-service-list">
                        <%if fields.deleted%><strike><%/if%><%:fields.name%><%if fields.deleted%></strike><%/if%>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog color-dg" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#" onclick="editService('<%:pk%>'); return false;">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="getPrice('<%:pk%>'); return false;"><i class="fa fa-rub" aria-hidden="true"></i> Прайс</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#" onclick="deleteService('<%:pk%>'); return false;"><%if fields.deleted%><i class="fa fa-plus" aria-hidden="true"></i> Восстановить<%else%><i class="fa fa-times" aria-hidden="true"></i> Удалить<%/if%></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <%/for%>
                </script>
                <script id="tmpl-crew-service-edit" type="text/x-jsrender">
                    <%for data%>
                    <form action="{% url 'api_service_edit' %}" method="post" id="form-crew-service-edit" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="crew" value="{{ crew.id }}" />
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Наименование
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Наименование услуги" value="<%:fields.name onerror=''%>"
                                       data-validation="length" data-validation-length="2-100"
                                       data-validation-error-msg="Введите наименование услуги"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Время первой реакции на заявку (в часах)
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="time1" name="time1" placeholder="Время первой реакции на заявку" value="<%:fields.time1 onerror=''%>"
                                       data-validation="number"
                                       data-validation-error-msg="Введите время в часах"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Время на завершение заявки (в часах)
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="time2" name="time2" placeholder="Время на завершение заявки" value="<%:fields.time2 onerror=''%>"
                                       data-validation="number"
                                       data-validation-error-msg="Введите время в часах"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Время провала заявки (в часах)
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="time3" name="time3" placeholder="Время провала заявки" value="<%:fields.time3 onerror=''%>"
                                       data-validation="number"
                                       data-validation-error-msg="Введите время в часах"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Единица измерения
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="unit" name="unit" placeholder="Единица измерения" value="<%:fields.unit onerror=''%>"
                                       data-validation="length" data-validation-length="2-100"
                                       data-validation-error-msg="Введите единицу измерения"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="сохранить" onclick="saveService('<%:pk onerror='0'%>');return false;" /></div>
                            <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
                        </div>
                    </form>
                    <%/for%>
                </script>
                <script id="tmpl-service-price-list" type="text/x-jsrender">
                    <div class="col-md-12">
                        <table class="data-table">
                            <thead><tr>
                                <td width="19%">Дата начала действия</td>
                                <td width="19%">Цена</td>
                                <td width="19%">Преодплата</td>
                                <td width="19%">Штраф за невыполнение заявки в срок</td>
                                <td width="19%">Штраф за просроченную заявку</td>
                                <td width="5%">&nbsp;</td>
                            </tr></thead>
                            <%for data%>
                            <tr>
                                <td width="19%"><%:fields.start_date onerror=''%></td>
                                <td width="19%"><%:fields.cost onerror=''%></td>
                                <td width="19%"><%:fields.prepay onerror=''%></td>
                                <td width="19%"><%:fields.fine1 onerror=''%></td>
                                <td width="19%"><%:fields.fine2 onerror=''%></td>
                                <td>
                                    <a href="#" onclick="editPrice(<%:pk%>); return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="#" onclick="deletePrice(<%:pk%>); return false;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <%/for%>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" name="service-id" value="<%:service onerror=''%>" />
                        <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="добавить" onclick="editPrice('0');return false;" /></div>
                        <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
                    </div>
                </script>
                <script id="tmpl-service-price-edit" type="text/x-jsrender">
                    <%for data%>
                    <form action="{% url 'api_service_price_edit' %}" method="post" id="form-service-price-edit" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="service" value="<%:fields.service onerror='0'%><%:service onerror=''%>" />
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Дата начала действия цены
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="start_date" name="start_date" placeholder="YYYY-MM-DD" value="<%:fields.start_date onerror=''%>"
                                       data-validation="date" data-validation-require-leading-zero="true" data-validation-format="yyyy-mm-dd"
                                       data-validation-error-msg="Введите дату начала действия цены"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Цена
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="cost" name="cost" placeholder="000.00" value="<%:fields.cost onerror='0'%>"
                                       data-validation="number" data-validation-allowing="float" data-validation-decimal-separator="."
                                       data-validation-error-msg="Введите верную цену в фомате 000.00"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Предоплата
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="prepay" name="prepay" placeholder="000.0" value="<%:fields.prepay onerror='0'%>"
                                       data-validation="number" data-validation-allowing="float" data-validation-decimal-separator="."
                                       data-validation-error-msg="Введите верную цену в фомате 000.00"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Штраф за невыполнение заявки в срок
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="fine1" name="fine1" placeholder="0.15" value="<%:fields.fine1 onerror='0.15'%>"
                                       data-validation="number" data-validation-allowing="float" data-validation-decimal-separator="."
                                       data-validation-error-msg="Введите верное число в фомате 000.00"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 form-label">
                                Штраф за просроченную заявку
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="fine2" name="fine2" placeholder="0.5" value="<%:fields.fine2 onerror='0.50'%>"
                                       data-validation="number" data-validation-allowing="float" data-validation-decimal-separator="."
                                       data-validation-error-msg="Введите верное число в фомате 000.00"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="сохранить" onclick="savePrice('<%:pk onerror='0'%>');return false;" /></div>
                            <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
                        </div>
                    </form>
                    <%/for%>
                </script>
            <script>
                function loadServiceList() {
                    $.getJSON( "{% url 'api_service_list' %}{{ crew.slug }}/", function( data ) {
                        try {
                            if (data['message'] == '') {
                                var tmpl = $.templates("#tmpl-crew-service-list");
                                var html = tmpl.render(data);
                                $('#crew-service-list').html(html);
                            }
                        }
                        catch (err) {
                            console.error(err);
                        }
                    });
                }

                function editService(service) {
                    if (service == '0') {
                        var tmpl = $.templates("#tmpl-crew-service-edit");
                        var html = tmpl.render({data: ''});
                        $('#hidden-crew-service-edit').html(html);
                        $.fancybox.open({
                            src: '#hidden-crew-service-edit',
                            type: 'inline',
                            opts: {modal: true}
                        });
                        $.validate({
                            form : '#form-crew-service-edit'
                        });
                    } else {
                        $.getJSON( "{% url 'api_service_edit' %}" + service + "/", function( data ) {
                            try {
                                if (data['message'] == '') {
                                    var tmpl = $.templates("#tmpl-crew-service-edit");
                                    var html = tmpl.render(data);
                                    $('#hidden-crew-service-edit').html(html);
                                    $.fancybox.open({
                                        src: '#hidden-crew-service-edit',
                                        type: 'inline',
                                        opts: {modal: true}
                                    });
                                    $.validate({
                                        form : '#form-crew-service-edit'
                                    });
                                } else {
                                    $.notify(data['message'], 'error');
                                }
                            }
                            catch (err) {
                                console.error(err);
                            }
                        });
                    }
                }

                function deleteService(service) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'api_service_delete' %}' + service + '/'
                    })
                        .done(function(data){
                            if (data=='ok') {
                                $.notify('Сохранено', 'success');
                                loadServiceList();
                            } else {
                                $.notify(data, 'warn');
                            }
                        })
                        .fail(function(){
                            $.notify('Ошибка передачи данных');
                        });
                }

                function saveService(service) {
                    if (service == '') service = '0';
                    $.ajax({
                        type: 'POST',
                        url: $('#form-crew-service-edit').attr('action') + service + '/',
                        data: $('#form-crew-service-edit').serialize()
                    })
                        .done(function(data){
                            if(data=='ok') {
                                $.fancybox.close();
                                $.notify('Сохранено', 'success');
                                loadServiceList();
                            }
                            else {
                                $.notify(data, 'warn');
                            }
                        })
                        .fail(function(){
                            $.notify('Ошибка передачи данных', 'error');
                        });

                }

                function getPrice(service) {
                    $.getJSON( "{% url 'api_service_price_list' %}" + service + "/", function( data ) {
                        try {
                            if (data['message'] == '') {
                                var tmpl = $.templates("#tmpl-service-price-list");
                                var html = tmpl.render(data);
                                $('#hidden-service-price-list').html(html);
                                $.fancybox.open({
                                    src: '#hidden-service-price-list',
                                    type: 'inline',
                                    opts: {modal: true}
                                });
                            }
                        }
                        catch (err) {
                            console.error(err);
                        }
                    });
                }

                function newPrice(service) {
                    var tmpl = $.templates("#tmpl-service-price-edit");
                    var html = tmpl.render({'data': [{'service': service}]});
                    $('#hidden-service-price-edit').html(html);
                    $.fancybox.open({
                        src: '#hidden-service-price-edit',
                        type: 'inline',
                        opts: {modal: true}
                    });
                    $.validate({
                        form : '#form-service-price-edit'
                    });
                }

                function editPrice(price) {
                    if (price == '0') {
                        var tmpl = $.templates("#tmpl-service-price-edit");
                        var html = tmpl.render({data: ''});
                        $('#hidden-service-price-edit').html(html);
                        $.fancybox.open({
                            src: '#hidden-service-price-edit',
                            type: 'inline',
                            opts: {modal: true}
                        });
                        $.validate({
                            form : '#form-service-price-edit'
                        });
                    } else {
                        $.getJSON( "{% url 'api_service_price_edit' %}" + price + "/", function( data ) {
                            try {
                                if (data['message'] == '') {
                                    var tmpl = $.templates("#tmpl-service-price-edit");
                                    var html = tmpl.render(data);
                                    $('#hidden-service-price-edit').html(html);
                                    $.fancybox.open({
                                        src: '#hidden-service-price-edit',
                                        type: 'inline',
                                        opts: {modal: true}
                                    });
                                    $.validate({
                                        form : '#form-service-price-edit'
                                    });
                                } else {
                                    $.notify(data['message'], 'error');
                                }
                            }
                            catch (err) {
                                console.error(err);
                            }
                        });
                    }
                }

                function savePrice(price) {
                    if (price == '') price = '0';
                    $.ajax({
                        type: 'POST',
                        url: $('#form-service-price-edit').attr('action') + price + '/',
                        data: $('#form-service-price-edit').serialize()
                    })
                        .done(function(data){
                            if(data=='ok') {
                                $.fancybox.close();
                                $.notify('Сохранено', 'success');
                                getPrice($('#form-service-price-edit input[name="service"]').val());
                            }
                            else {
                                $.notify(data, 'warn');
                            }
                        })
                        .fail(function(){
                            $.notify('Ошибка передачи данных', 'error');
                        });

                }


                function init() {
                    loadServiceList();
                }
            </script>
        {% endif %}
{% endblock %}