<form action="{% url 'crew_edit' %}" method="post" id="form-serviceedit" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="col-md-12 form-label">
            Наименование
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="name" name="name" placeholder="Наименование услуги" value=""
                   data-validation="length" data-validation-length="2-100"
                   data-validation-error-msg="Введите наименование услуги"
            />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 form-label">
            Время первой реакции на заявку (в часах)
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="time1" name="time1" placeholder="Время первой реакции на заявку" value=""
                   data-validation="number"
                   data-validation-error-msg="Введите время в часах"
            />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 form-label">
            Время на завершение заявки (в часах)
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="time2" name="time1" placeholder="Время на завершение заявки" value=""
                   data-validation="number"
                   data-validation-error-msg="Введите время в часах"
            />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 form-label">
            Время провала заявки (в часах)
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="time3" name="time1" placeholder="Время провала заявки" value=""
                   data-validation="number"
                   data-validation-error-msg="Введите время в часах"
            />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 form-label">
            Единица измерения
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="time3" name="time1" placeholder="Единица измерения" value=""
                   data-validation="length" data-validation-length="2-100"
                   data-validation-error-msg="Введите единицу измерения"
            />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="сохранить" /></div>
        <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
    </div>
</form>