<script>
    function openNewTask(type) {
        $.getJSON( "{% url 'api_task_new' crew.slug %}?type=" + type, function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-task-new");
                    var html = tmpl.render(data);
                    $('#hidden-task-new').html(html);
                    $.fancybox.open({
                        src: '#hidden-task-new',
                        type: 'inline',
                        opts: {modal: true}
                    });
                    $.validate({
                        form : '#form-task-new'
                    });
                    try {
                        $('#service').on("change", function() {
                            $.ajax({ url: "{% url 'api_service_template' %}" + $('#service').val() })
                                .done(function (data) {
                                    $('#description').val(data);
                                })
                        }).change();
                    } catch (e) { }
                    try {
                        $('select').selectpicker();
                    } catch (e) { }
                    try {
                        $('#datetimepicker-start-date').datetimepicker({
                            format: 'YYYY-MM-DD',
                            keepOpen: false
                        });
                        $('#datetimepicker-end-date').datetimepicker({
                            format: 'YYYY-MM-DD',
                            keepOpen: false
                        });
                        $("#datetimepicker-start-date").on("dp.change", function (e) {
                            $('#datetimepicker-end-date').data("DateTimePicker").minDate(e.date);
                        });
                        $("#datetimepicker-end-date").on("dp.change", function (e) {
                            $('#datetimepicker-start-date').data("DateTimePicker").maxDate(e.date);
                        });
                    } catch (e) { }
                    try {

                        $(":file").filestyle({
                            btnClass: 'btn-primary',
                            text: 'Выбрать файл'
                        });
                    } catch (e) { }
                } else {
                    $.notify(data['message'], 'error');
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function openTask(task) {
        $.getJSON( "{% url 'api_task_view' %}" + task, function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-task-view");
                    var html = tmpl.render(data);
                    $('#hidden-task-view').html(html);
                    $.fancybox.open({
                        src: '#hidden-task-view',
                        type: 'inline',
                        opts: {modal: true}
                    });
                } else {
                    $.notify(data['message'], 'error');
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function saveNewTask() {
        $.ajax({
            type: 'POST',
            url: $('#form-task-new').attr('action'),
            data: $('#form-task-new').serialize()
        })
            .done(function(data){
                if(data=='ok') {
                    $.fancybox.close();
                    $.notify('Сохранено', 'success');
                    try {
                        loadTaskList();
                        loadEventsList(100);
                    } catch (e) {}
                }
                else {
                    $.notify(data, 'warn');
                }
            })
            .fail(function(){
                $.notify('Ошибка передачи данных', 'error');
            });
    }

    function loadTaskList() {
        $.getJSON( "{% url 'api_task_list' crew.slug %}", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-task-list");
                    var html = tmpl.render(data);
                    if (JSON.stringify(data)!=JSON.stringify(prevTaskList))
                    {
                        prevTaskList = data;
                        $('#task-list').html(html);
                        $('#table-task-list').footable();
                    }
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function openTaskPriority(task, priority) {
        $.getJSON( "{% url 'api_priority_list' crew.slug %}", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-task-view-priority");
                    var html = tmpl.render(data);
                    $('#hidden-task-view-priority').html(html);
                    $.fancybox.open({
                        src: '#hidden-task-view-priority',
                        type: 'inline',
                        opts: {modal: true}
                    });
                    $('#task').val(task);
                    $('#priority').val(priority);
                } else {
                    $.notify(data['message'], 'error');
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function saveTaskPriority() {
        $.ajax({
            type: 'POST',
            url: $('#form-task-view-priority').attr('action'),
            data: $('#form-task-view-priority').serialize()
        })
            .done(function(data){
                if(data=='ok') {
                    $.fancybox.close();
                    $.fancybox.close();
                    $.notify('Сохранено', 'success');

                    openTask($('#task').val());
                }
                else {
                    $.notify(data, 'warn');
                }
            })
            .fail(function(){
                $.notify('Ошибка передачи данных', 'error');
            });
    }


    function openTaskDateIn(task, date_in) {
        var tmpl = $.templates("#tmpl-task-view-datein");
        var html = tmpl.render({});
        $('#hidden-task-view-datein').html(html);
        $.fancybox.open({
            src: '#hidden-task-view-datein',
            type: 'inline',
            opts: {modal: true}
        });
        $('#date_in_view').datetimepicker({
            inline: true,
            sideBySide: true,
            keepOpen: true,
            format: 'YYYY/MM/DD HH:mm:ss',
            date: date_in
        });
        $('#task').val(task);
        $('#date_in').val(date_in);
    }

    function saveTaskDateIn() {
        $.ajax({
            type: 'POST',
            url: $('#form-task-view-datein').attr('action'),
            data: $('#form-task-view-datein').serialize()
        })
            .done(function(data){
                if(data=='ok') {
                    $.fancybox.close();
                    $.fancybox.close();
                    $.notify('Сохранено', 'success');

                    openTask($('#task').val());
                }
                else {
                    $.notify(data, 'warn');
                }
            })
            .fail(function(){
                $.notify('Ошибка передачи данных', 'error');
            });
    }

    function openTaskService(task, service) {
        $.getJSON( "{% url 'api_service_list' crew.slug %}", function( data ) {
            try {
                if (data['message'] == '') {
                    var tmpl = $.templates("#tmpl-task-view-service");
                    var html = tmpl.render(data);
                    $('#hidden-task-view-service').html(html);
                    $.fancybox.open({
                        src: '#hidden-task-view-service',
                        type: 'inline',
                        opts: {modal: true}
                    });
                    $('#task').val(task);
                    $('#service').val(service);
                } else {
                    $.notify(data['message'], 'error');
                }
            }
            catch (err) {
                console.error(err);
            }
        });
    }

    function saveTaskService() {
        $.ajax({
            type: 'POST',
            url: $('#form-task-view-service').attr('action'),
            data: $('#form-task-view-service').serialize()
        })
            .done(function(data){
                if(data=='ok') {
                    $.fancybox.close();
                    $.fancybox.close();
                    $.notify('Сохранено', 'success');

                    openTask($('#task').val());
                }
                else {
                    $.notify(data, 'warn');
                }
            })
            .fail(function(){
                $.notify('Ошибка передачи данных', 'error');
            });
    }
</script>