{% extends 'base.html' %}
{% load tags %}
{% block content %}
    {% ifequal password 'ok' %}
        <div class="col-md-12 crew-title">
            <span>Команда &laquo{{ crew.name }}&raquo; - Новая заявка</span><br>
            {% ifnotequal crew.password '' %}
            <form action="{% url 'task_new' crew.url %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="password" value="" class="form-control">
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="выйти из гостевого режима"/></div>
                    <div class="col-md-3"></div>
                </div>
            </form>
            {% endifnotequal %}
        </div>
    {% else %}
        <div>Админисратор ограничил гостевой доступ к команде</div>
        <form action="{% url 'task_new' crew.url %}" method="post">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="col-md-12 form-label">
                        Введите пароль для гостевого доступа к команде "{{ crew.name }}"
                    </div>
                    <div class="col-md-12">
                        <input type="password" name="password" value="" class="form-control">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="отправить"/></div>
                <div class="col-md-3"></div>
            </div>
        </form>
    {% endifequal %}
{% endblock %}