{% extends 'base.html' %}
{% load tags %}
{% block content %}
    {% if task %}
    <div class="col-md-12 crew-title">
        <span>Команда &laquo{{ task.crew.name }}&raquo; - Информация по заявке</span><br>
    </div>
    <div class="col-md-12">
        <div><b>Время подачи</b>: {{ task.date_in|date_from_now|safe }}</div>
        <div><b>Статус</b>: {{ task.status }}</div>
        <hr>
        {% if task.service %}<div><b>Тип заявки</b>: {{ task.service.name }}</div>{% endif %}
        <div><b>Описание</b>: {{ task.description|linebreaksbr }}</div>
    </div>
    {% endif %}
{% endblock %}