<script id="tmpl-crew-service-list" type="text/x-jsrender">
    <%for data%>
        <div class="crew-service-list">
            <%if fields.deleted%><strike><%/if%><%:fields.name%><%if fields.deleted%></strike><%/if%>
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog color-dg" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#" onclick="editService('<%:pk%>'); return false;">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="getPrice('<%:pk%>'); return false;"><i class="fa fa-rub" aria-hidden="true"></i> Прайс</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" onclick="deleteService('<%:pk%>'); return false;"><%if fields.deleted%><i class="fa fa-plus" aria-hidden="true"></i> Восстановить<%else%><i class="fa fa-times" aria-hidden="true"></i> Удалить<%/if%></a>
                    </li>
                </ul>
            </div>
        </div>
    <%/for%>
</script>