<script id="tmpl-crew-user-list" type="text/x-jsrender">
    <%for data%>
    <div class="crew-user-list">
        <%if member_type==0%><i class="fa fa-user color-b" aria-hidden="true" title="Администратор"></i><%/if%>
        <%if member_type==1%><i class="fa fa-user color-o" aria-hidden="true" title="Диспетчер"></i><%/if%>
        <%if member_type==2%><i class="fa fa-user color-y" aria-hidden="true" title="Оператор"></i><%/if%>
        <%:user_firstname%> <%:user_lastname%> [<%:user_email%>]
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog color-dg" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" onclick="saveUser('<%:member_id%>', 'a'); return false;">
                    <%if member_type==0%>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <%else%>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                    <%/if%>
                    Администратор</a></li>
                <li><a href="#" onclick="saveUser('<%:member_id%>', 'd'); return false;">
                    <%if member_type==1%>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <%else%>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                    <%/if%>
                    Диспетчер</a></li>
                <li><a href="#" onclick="saveUser('<%:member_id%>', 'o'); return false;">
                    <%if member_type==2%>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <%else%>
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                    <%/if%>
                    Оператор</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> Удалить</a></li>
            </ul>
        </div>
    </div>
    <%/for%>
</script>