<script id="tmpl-crew-events-list" type="text/x-jsrender">
    <div class="col-md-12">
        <table class="data-table">
            <thead><tr>
                <td width="20%">Дата</td>
                <td width="80%">Событие</td>
            </tr></thead>
            <%for data%>
            <tr>
                <td width="20%"><%:date onerror=''%></td>
                <td width="80%" class="text-left"><%:message onerror=''%></td>
            </tr>
            <tr>
                <td colspan="2" class="info"><%if user_firstname or user_lastname%><%:user_firstname onerror=''%> <%:user_lastname onerror=''%> <%else%><%:user_email onerror=''%><%/if%> from: <%:ip onerror=''%> <%:user_agent onerror=''%></td>
            </tr>
            <%/for%>
        </table>
    </div>
</script>
