<script id="tmpl-task-view" type="text/x-jsrender">
<div class="col-md-12">
<div class="float-form" style="display: none;" id="hidden-task-view-priority"></div>
<div class="float-form" style="display: none;" id="hidden-task-view-datein"></div>
<div class="float-form" style="display: none;" id="hidden-task-view-service"></div>
<%for task%>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body font06">
                    <div>
                        Статус: <span class="bold"><%:status%></span><br>
                        Приоритет: <span class="bold"><%:priority%></span><br>
                    </div>
                    <hr style="margin-top: 3px; margin-bottom: 3px;">
                    <div>
                        Дата подачи: <%:date_in%><br>
                        Срок принятия в работу: <%:date__reaction%><br>
                        Срок исполнения: <%:date__finish%><br>
                    </div>
                    <hr style="margin-top: 3px; margin-bottom: 3px;">
                    <div class="text-right">
                        <a href="#" onclick="openTaskPriority('<%:uuid%>', '<%:priority_code%>'); return false;">изменить приоритет</a> | <a href="#" onclick="openTaskDateIn('<%:uuid%>', '<%:date_in%>'); return false;">изменить дату подачи</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body font06">
                    <div>
                        Заявитель: <%for user_observer%><%:name%><%else%>...<%/for%><br>
                        Диспетчер: <%for user_dispatcher%><%:name%><%else%>...<%/for%><br>
                        Исполнители: <%for user_operator%><%:name%> <%else%>...<%/for%><br>
                        Ответственный: <%for user_close%><%:name%><%else%>...<%/for%>
                    </div>
                    <hr style="margin-top: 3px; margin-bottom: 3px;">
                    <div class="text-right">
                        <a href="#" onclick="return false;">изменить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <%:service%>
                    <div class="scroll150" style="white-space: pre-wrap;"><%:description%></div>
                    <div class="text-right font06">
                        <a href="#" onclick="openTaskService('<%:uuid%>', '<%:service_code%>'); return false;">изменить услугу</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
        {% if not is_observer %}
            <%!-- новая --%>
            <%if status_code==0%>
            {% if is_dispatcher %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="work" value="В работу" class="btn btn-primary form-control" onclick="setStatus('<%:uuid%>', '1'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="pause" value="Приостановить" class="btn btn-danger form-control"  onclick="setStatus('<%:uuid%>', '2'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="cancel" value="Отменить" class="btn btn-info form-control" onclick="setStatus('<%:uuid%>', '4'); return false;">
                    </div>
                </div>
            </div>
            {% endif %}
            <%/if%>

            <%!-- в ожидании --%>
            <%if status_code==1%>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="inwork" value="Начать работу" class="btn btn-success form-control" onclick="setStatus('<%:uuid%>', '3'); return false;">
                    </div>
                    {% if is_dispatcher %}
                    <div class="col-md-4">
                        <input type="button" name="pause" value="Приостановить" class="btn btn-danger form-control"  onclick="setStatus('<%:uuid%>', '2'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="cancel" value="Отменить" class="btn btn-info form-control" onclick="setStatus('<%:uuid%>', '4'); return false;">
                    </div>
                </div>
            </div>
            {% endif %}
            <%/if%>

            <%!-- приостановлена --%>
            <%if status_code==2%>
            {% if is_dispatcher %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="work" value="В работу" class="btn btn-primary form-control" onclick="setStatus('<%:uuid%>', '1'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="cancel" value="Отменить" class="btn btn-info form-control" onclick="setStatus('<%:uuid%>', '4'); return false;">
                    </div>
                </div>
            </div>
            {% endif %}
            <%/if%>

            <%!-- выполняется --%>
            <%if status_code==3%>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="finished" value="Работа выполнена" class="btn btn-success form-control" onclick="setStatus('<%:uuid%>', '5'); return false;">
                    </div>
                </div>
            </div>
            <%/if%>

            <%!-- отменена --%>
            <%if status_code==4%>
            {% if is_admin %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="work" value="В работу" class="btn btn-primary form-control" onclick="setStatus('<%:uuid%>', '1'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="pause" value="Приостановить" class="btn btn-danger form-control"  onclick="setStatus('<%:uuid%>', '2'); return false;">
                    </div>
                </div>
            </div>
            {% endif %}
            <%/if%>

            <%!-- выполнена --%>
            <%if status_code==5%>
            {% if is_dispatcher %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="work" value="В работу" class="btn btn-primary form-control" onclick="setStatus('<%:uuid%>', '1'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="close" value="Закрыть заявку" class="btn btn-success form-control" onclick="setStatus('<%:uuid%>', '6'); return false;">
                    </div>
                </div>
            </div>
            {% endif %}
            <%/if%>

            <%!-- закрыта --%>
            <%if status_code==6%>
            {% if is_admin %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <input type="button" name="work" value="В работу" class="btn btn-primary form-control" onclick="setStatus('<%:uuid%>', '1'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="pause" value="Приостановить" class="btn btn-danger form-control"  onclick="setStatus('<%:uuid%>', '2'); return false;">
                    </div>
                    <div class="col-md-4">
                        <input type="button" name="cancel" value="Отменить" class="btn btn-info form-control" onclick="setStatus('<%:uuid%>', '4'); return false;">
                    </div>
                </div>
            </div>
            {% endif %}
            <%/if%>
                </div>
            </div>
        {% endif %}
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="scroll150">
                            <table class="table font06">
                                <thead>
                                    <tr>
                                        <td>Дата</td>
                                        <td>Пользователь</td>
                                        <td>Событие</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <%for events%>
                                    <tr>
                                        <td><%:date%></td>
                                        <td><%:user%></td>
                                        <td><%:message%></td>
                                    </tr>
                                <%/for%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form>
                        <div class="col-md-12 form-label">
                            Добавить cообщение в журнал заявки
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <textarea class="form-control" rows="1"></textarea>
                            </div>
                            <div class="col-md-4">
                                <input type="button" value="Сохранить" class="btn btn-default form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%/for%>
    <div class="col-md-12">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <button data-fancybox-close class="form-control btn btn-default">отмена</button>
        </div>
    </div>
</div>
</script>