<script id="tmpl-task-view-priority" type="text/x-jsrender">
<form action="{% url 'api_task_priority_save' %}" method="post" id="form-task-view-priority" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="col-md-12 form-label">
            Приоритет
        </div>
            <select class="form-control selectpicker" id="priority" name="priority">
                <%for data%>
                    <%if !fields.deleted%>
                        <option value="<%:pk%>"><%:fields.name%></option>
                    <%/if%>
                <%/for%>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <input type="hidden" name="task" id="task" value="">
        <div class="col-md-6">
            <input type="submit" class="form-control btn btn-primary" onclick="saveTaskPriority(); return false;" value="отправить"/>
        </div>
        <div class="col-md-6">
            <button data-fancybox-close class="form-control btn btn-default">отмена</button>
        </div>
    </div>
</form>
</script>