<script id="tmpl-service-price-list" type="text/x-jsrender">
    <div class="col-md-12">
        <table class="data-table">
            <thead><tr>
                <td width="18%">Дата начала действия</td>
                <td width="18%">Цена</td>
                <td width="18%">Преодплата</td>
                <td width="18%">Штраф за невыполнение заявки в срок</td>
                <td width="18%">Штраф за просроченную заявку</td>
                <td width="10%">&nbsp;</td>
            </tr></thead>
            <%for data%>
            <tr>
                <td><%:fields.start_date onerror=''%></td>
                <td><%:fields.cost onerror=''%></td>
                <td><%:fields.prepay onerror=''%></td>
                <td><%:fields.fine1 onerror=''%></td>
                <td><%:fields.fine2 onerror=''%></td>
                <td>
                    <div class="btn-group" role="group">
                        <button onclick="editPrice(<%:pk%>); return false;" class="btn btn-default btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button href="#" onclick="deletePrice(<%:pk%>); return false;" class="btn btn-default btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            <%/for%>
        </table>
    </div>
    <div class="col-md-12">
        <input type="hidden" name="service-id" id="service-id" value="<%:service oneroor='0'%>" />
        <div class="col-md-6"><input type="submit" class="form-control btn btn-primary" value="добавить" onclick="editPrice('0');return false;" /></div>
        <div class="col-md-6"><button data-fancybox-close class="form-control btn btn-default">отмена</button></div>
    </div>
</script>
